PORT=3001
APP_ENV=development
APP_WEB_URL=http://localhost:5173
DATABASE_URL="postgresql://user:password@localhost:5432/ata_db"
BETTER_AUTH_SECRET="super-secret-key-change-me-in-production"
BETTER_AUTH_URL=http://localhost:3001
